services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gtmotive-renting-api
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    restart: unless-stopped